.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 500px;
}

form {
  width: 60%;
  max-width: 300px;
}

form h2 {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}

form input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

form input:focus {
  background-color: #f9f9f9;
}

form button {
  width: 100%;
  color: white;
  background-color: var(--primary);
  margin-top: 12px;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  letter-spacing: 1px;
}

form button:hover {
  cursor: pointer;
}

form .redirect-text {
  font-size: 15px;
  color: #a3a6ca;
}

form .redirect-text a {
  text-decoration: none;
  color: var(--primary);
}

form .login {
  display: flex;
  justify-content: center;
  gap: 8px;
}

form .register {
  text-align: center;
}
