body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #f2f2f2;
  height: 100vh;
}

* {
  box-sizing: inherit;
}

:root {
  --primary: rgb(69, 177, 255);
}
