.products {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border-radius: 15px;
  width: 300px;
  margin: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.product img {
  width: 300px;
}

.product .description {
  text-align: center;
}

.add-to-cart-btn {
  font-size: 1rem;
  background: transparent;
  background-image: linear-gradient(to bottom right, #00239c, #307fe2);
  border: transparent;
  border-radius: 0.25rem;
  padding: 15px 20px;
  cursor: pointer;
  color: white;
}

.add-to-cart-btn:hover {
  background-image: none;
  background-color: #00239c;
}
